.tidle-view-container {
  padding: 0 !important;
  height: 100% !important;
}

.tidle-view-container .tidle-iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.tidle-ribbon-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
